
#container {
    padding: 0px;
    width: 100vw;
}

#container {
    padding: 0px;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
  }

#main {
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
    transition: all 0.2s cubic-bezier(1, 0.04, 0, 0.85);
    flex-grow: 1;
  }

#responsive-grid {
  height: 100%;
}

#header-design-provider {
    --neutral-fill-hover: var(--header-background);
    --neutral-fill-rest: var(--header-background);
    --neutral-foreground-rest: var(--header-color);
    background: var(--header-background);
    color: var(--header-color);
  }



/*estilos para la imagen de los cultivos*/
.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: calc(22% - 20px); /*anchor de las cards*/
  margin: 5px; /* Espacio entre tarjetas */
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 20px;
}

.cultivo-img {
  width: 100%;/*anchor de la imagen*/
  height: 200px; /*Altura de la imagen*/
  object-fit: cover; /*Escalar la imagen para que cubra el contenedor sin distorsión*/
}

.container h4 {
  margin: 10px 0;
}

.container p,h4 {
  margin: 5px 0;
  text-align: center;
}



/* Estilos para el modal */
.modal {
  display: none;
  /* Ocultar el modal por defecto */
  position: fixed;
  /* Fijar posición */
  z-index: 1;
  /* Encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Desplazamiento */
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*estilos para boton de las cards*/

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
.boton{
  display: block;
  margin: 0 auto;
}
button:hover {
  background-color: #0056b3;
}















/*Modal para editar el cultivo*/

/* Modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
