{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- archivos css -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/Dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/gridstack.min.css' %}">
    <!-- Boxicon css -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/gridstack-poly.js' %}"></script>
    <script src="{% static 'js/gridstack-all.js' %}"></script>
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <title>Dashboard</title>
</head>

<body>
    <nav class="sidebar close">
        <header>
            {% if user_info %}
            <div class="image-text">
                <span class="image">
                    <!-- Logo descargado de flaticon  -->
                    <img src="{{ user_info.photo_url }}" alt="Foto de perfil">
                </span>

                <div class="text header-text">
                    <span class="name">{{ user_info.username }}</span>

                </div>
                {% else %}
                <!-- <p>Datos no encontrados en la base de Datos</p> -->
                {% endif %}

                {% if error_message %}
                <p>Error: {{ error_message }}</p>
                {% endif %}
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/Dashboard">
                            <i class='bx bxs-dashboard icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/Dispositivos">
                            <i class='bx bx-devices icon'></i>
                            <span class="text nav-text">Cultivos</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/Clima">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">Clima</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/Alarmas">
                            <i class='bx bxs-alarm-exclamation icon'></i>
                            <span class="text nav-text">Alarmas</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/Tableros">
                            <i class='bx bx-chalkboard icon'></i>
                            <span class="text nav-text">Tableros</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/Productos">
                            <i class='bx bxl-product-hunt icon'></i>
                            <span class="text nav-text">Productos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'logout' %}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Cerrar sesion</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark Mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>

                    </div>

                </li>
            </div>
        </div>
    </nav>


    <!-- Modal -->
    <div id="myModal" class="modal">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="form-container">
                <h1>Nuevo Cultivo</h1>
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="nombre" maxlength="100" required="" id="id_nombre" placeholder="Nombre">
                    </p>
                    <p>
                        <input type="text" name="ubicacion" maxlength="100" required="" id="id_ubicacion" placeholder="Ubicacion">
                    </p>
                    <p>
                        <input type="text" name="variedad" maxlength="100" required="" id="id_variedad" placeholder="Variedad">
                    </p>
                    <p>
                        <p>La temperatura actual del suelo es:</p>
                        <input type="number" name="temperatura_suelo" step="any" required="" id="id_temperatura_suelo" readonly>
                    </p>
                    <p>                                                                                                     
                        <p>La humedad actual del suelo es:</p>
                        <input type="number" name="humedad" step="any" required="" id="id_humedad" readonly>
                    </p>
                    <p>
                        <input type="file" name="imagen" accept="image/*" required="" id="id_imagen">
                    </p>
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        
        function generarGrafica() {

            var label = document.getElementById("chart-label").value;
            var data = document.getElementById("chart-data").value.split(",");
 
            closeModal();
        }
    </script>


    <section class="home">
        <div class="text" id="ContenidoDas">
            <div class="modal fade" id="InsertarGraficas" role="dialog"></div>
            <button onclick="openModal()">Agregar Nuevo Cultivo</button>
        </div>
        <div class="text" id="ContenidoDas">
        </div>

        <h2>Cultivos Registrados:</h2>
        <div class="grid-stack">
            
        </div>
        
        


        <div class="card-container">
            {% for cultivo in cultivos %}
            <div class="card">
                <img src="{{ cultivo.data.imagen_url }}" alt="Cultivo" class="cultivo-img">
                <div class="container">
                    <h4><b>Nombre del Cultivo: {{ cultivo.data.nombre }}</b></h4>
                    <p>Ubicación: {{ cultivo.data.ubicacion }}</p>
                    <p>Variedad: {{ cultivo.data.variedad }}</p>
                    <p>Temperatura suelo: {{ cultivo.data.Temperatura_suelo }}</p>
                    <p>Humedad: {{ cultivo.data.Humedad }}</p>
                    
                    <button id="data-cultivo-nombre" class="boton" data-cultivo-id="{{ cultivo.id }}" data-cultivo-nombre="{{ cultivo.data.nombre }}">Generar Gráfica</button>
                    
                    <button type="button" class="btn btn-primary" onclick="cargarDatosCultivo('{{ cultivo.id }}', '{{ cultivo.data.nombre }}', '{{ cultivo.data.ubicacion }}', '{{ cultivo.data.variedad }}')">
                        Actualizar Cultivo
                    </button>

                    <button class="boton-eliminar" data-cultivo-id="{{ cultivo.id }}" onclick="eliminarCultivo('{{ cultivo.id }}')">Eliminar Cultivo</button>


                </div>
            </div>
            {% endfor %}
        </div>
        

        <canvas id="miGrafico"></canvas>




        <!-- Modal para actualizar cultivo -->
        <div id="modalActualizarCultivo" class="modal" style="display: none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Actualizar Cultivo</h5>
                    <button onclick="cerrarModal()">Cerrar</button>
                </div>
                <div class="modal-body">
                    <form id="formActualizarCultivo" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="ubicacion" class="form-label">Ubicación:</label>
                            <input type="text" id="ubicacion" name="ubicacion" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="variedad" class="form-label">Variedad:</label>
                            <input type="text" id="variedad" name="variedad" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="temperatura_suelo" class="form-label">Temperatura Suelo:</label>
                            <input type="number" id="temperatura_suelo" name="temperatura_suelo" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="humedad" class="form-label">Humedad:</label>
                            <input type="number" id="humedad" name="humedad" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="imagen" class="form-label">Nueva Imagen:</label>
                            <input type="file" id="imagen" name="imagen" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Actualizar Cultivo</button>
                        </div>
                    </form>                    
                </div>
            </div>
        </div> 

    </section>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="{% static 'js/Dashboard.js' %}"></script>
    <script src="{% static 'js/ScriptFormularios.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>